h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  margin: 15px 0;
  text-align: center;
}

.container {
  background-image: linear-gradient(to top, yellow 0%, lightyellow 100%);
  padding: 25px 35px;
  max-width: 550px;
  max-height: 680px;
  margin: 20px auto;
  border-radius: 15px;
}

.current-weather-img-border {
  width: 270px;
  height: 270px;
  margin: 20px 0 5px 0;
  padding: 30px;
  border: 10px solid white;
  border-radius: 50%;
}

#current-weather-img {
  width: 200px;
  height: 200px;
  position: relative;
  left: -5px;
  top: -5px;
}

.last-update,
#day-time {
  font-size: 18px;
  margin: 0;
}

#temp {
  font-size: 120px;
  color: #1a237e;
  margin: 0;
}

.units {
  font-size: 23px;
  position: relative;
  top: -65px;
}

.inactive {
  color: #212529;
  cursor: default;
}

.inactive:hover {
  text-decoration: none;
}

.otherinfo {
  font-size: 18px;
  margin: 0;
}
#description {
  text-transform: capitalize;
}

.forecast-weather-img-border li {
  width: 100px;
  height: 100px;
  margin: 20px 3px;
  padding: 15px;
  border: 5px solid white;
  border-radius: 50%;
}

.forecast-weather-img {
  position: relative;
  left: -20px;
  top: -20px;
}

.forecast-temp {
  color: #1a237e;
  font-weight: bolder;
  text-align: center;
  margin: 70px 0 0 0;
  position: relative;
  top: -20px;
}
